/Server/DB_Test/demo/*/demo/.classpath
/Server/DB_Test/demo/*/demo/.project
/Server/DB_Test/demo/*/demo/.settings/
/Server/DB_Test/demo/.metadata/
/Server/DB_Test/demo/*/Servers/
/Server/DB_Test/demo/*/.project
/Server/DB_Test/demo/*/demo/target/
/Server/DB_Test/demo/*/demo/HELP.md
/Server/DB_Test/demo/*/RemoteSystemsTempFiles/