*/DB_Test/demo/.classpath
*/DB_Test/demo/.project
*/DB_Test/demo/.settings/
*/DB_Test/.metadata/
*/DB_Test/demo/Servers/
*/DB_Test/demo/.project
*/DB_Test/demo/target/
*/DB_Test/demo/HELP.md
*/DB_Test/RemoteSystemsTempFiles/